<a href="https://colab.research.google.com/github/Rahul711sharma/Classification-ML/blob/main/Telco_Customer_Churn_logistic_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np
from plotnine import *
import matplotlib.pyplot as plt
import seaborn as sns

In [46]:
from google.colab import drive

In [47]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [48]:
df = pd.read_csv("/content/drive/MyDrive/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [49]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [50]:
df.isna().mean()*100

customerID          0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
Churn               0.0
dtype: float64

In [51]:
for i in df.columns[1:]:
  print(f"{i}: \n{df[i].value_counts()} \n")

gender:
Male      3555
Female    3488
Name: gender, dtype: int64

SeniorCitizen:
0    5901
1    1142
Name: SeniorCitizen, dtype: int64

Partner:
No     3641
Yes    3402
Name: Partner, dtype: int64

Dependents:
No     4933
Yes    2110
Name: Dependents, dtype: int64

tenure:
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

PhoneService:
Yes    6361
No      682
Name: PhoneService, dtype: int64

MultipleLines:
No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

InternetService:
Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

OnlineSecurity:
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

OnlineBackup:
No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

DeviceProtection:
No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

TechSupport:
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

StreamingTV:
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

StreamingMovies:
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Contract:
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

PaperlessBilling:
Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

PaymentMethod:
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

MonthlyCharges:
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
114.75     1
103.60     1
113.40     1
57.65      1
113.30     1
Name: MonthlyCharges, Length: 1585, dtype: int64

TotalCharges:
20.2       11
           11
19.75       9
20.05       8
19.65       8
           ..
994.8       1
5224.5      1
732.5       1
4526.85     1
1740.8      1
Name: TotalCharges, Length: 6531, dtype: int64

Churn:
No     5174
Yes    1869
Name: Churn, dtype: int64

In [52]:
df=df.replace({'No internet service':0,'Yes':1,'No':0,'Month-to-month':0,'Two year':2,'One year':1,'No phone service':0,'Male':0,'Female':1,'DSL':1,'Fiber optic':2,'No':0})

In [53]:
dummies = pd.get_dummies(df['PaymentMethod'],prefix='pay_')
for i in dummies.columns:
  df[i]= dummies[i]
df.drop('PaymentMethod',axis=1,inplace=True)
df.head(3)

   customerID  gender  ...  pay__Electronic check  pay__Mailed check
0  7590-VHVEG       1  ...                      1                  0
1  5575-GNVDE       0  ...                      0                  1
2  3668-QPYBK       0  ...                      0                  1

[3 rows x 24 columns]

In [54]:
x = df.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,21,22,23]]
y = df.iloc[:,19]

In [55]:
sns.heatmap(x)

ValueError: ignored

There is a string value still in the data lets find it

In [56]:
for i in x.columns:
  print(type(x[i][0]))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>

So the 18th column still have string value

In [57]:
for a,i in enumerate(x['TotalCharges']):
  
  print(a,float(i))

0 29.85
1 1889.5
2 108.15
3 1840.75
4 151.65
5 820.5
6 1949.4
7 301.9
8 3046.05
9 3487.95
10 587.45
11 326.8
12 5681.1
13 5036.3
14 2686.05
15 7895.15
16 1022.95
17 7382.25
18 528.35
19 1862.9
20 39.65
21 202.25
22 20.15
23 3505.1
24 2970.3
25 1530.6
26 4749.15
27 30.2
28 6369.45
29 1093.1
30 6766.95
31 181.65
32 1874.45
33 20.2
34 45.25
35 7251.7
36 316.9
37 3548.3
38 3549.25
39 1105.4
40 475.7
41 4872.35
42 418.25
43 4861.45
44 981.45
45 3906.7
46 97.0
47 144.15
48 4217.8
49 4254.1
50 3838.75
51 1426.4
52 1752.65
53 633.3
54 4456.35
55 1752.55
56 6311.2
57 7076.35
58 894.3
59 7853.7
60 4707.1
61 5450.7
62 2962.0
63 957.1
64 857.25
65 244.1
66 3650.35
67 2497.2
68 930.9
69 887.35
70 49.05
71 1090.65
72 7099.0
73 1424.6
74 177.4
75 6139.5
76 2688.85
77 482.25
78 2111.3
79 1216.6
80 79.35
81 565.35
82 496.9
83 4327.5
84 973.35
85 918.75
86 2215.45
87 1057.0
88 927.1
89 1009.25
90 2570.2
91 74.7
92 5714.25
93 7107.0
94 7459.05
95 927.35
96 4748.7
97 113.85
98 1107.2
99 2514.5
100 20.2
101 19.45
102 3605.6
103 3027.25
104 7611.85
105 100.2
106 7303.05
107 927.65
108 3921.3
109 1363.25
110 5238.9
111 3042.25
112 3954.1
113 2868.15
114 3423.5
115 248.4
116 1126.35
117 1064.65
118 835.15
119 2151.6
120 5515.45
121 112.75
122 229.55
123 350.35
124 62.9
125 3027.65
126 2135.5
127 1723.95
128 19.75
129 3985.35
130 1215.65
131 1502.65
132 3260.1
133 35.45
134 81.25
135 1188.2
136 1778.5
137 1277.75
138 1170.55
139 70.45
140 6425.65
141 563.65
142 5971.25
143 5289.05
144 1756.2
145 6416.7
146 61.35
147 45.65
148 1929.95
149 1071.4
150 564.35
151 655.5
152 7930.55
153 5215.25
154 113.5
155 1152.8
156 1821.95
157 419.9
158 1024.0
159 251.6
160 764.55
161 1592.35
162 135.2
163 3958.25
164 233.9
165 1363.45
166 273.0
167 6254.45
168 2651.2
169 321.4
170 3539.25
171 242.8
172 1181.75
173 5000.2
174 654.55
175 780.2
176 1145.7
177 503.6
178 1559.25
179 1252.0
180 29.95
181 45.3
182 662.65
183 2453.3
184 1111.65
185 24.8
186 1023.85
187 82.15
188 244.8
189 2379.1
190 3173.35
191 531.0
192 1375.4
193 8129.3
194 1192.7
195 1901.65
196 587.4
197 6519.75
198 8041.65
199 20.75
200 2681.15
201 1112.3
202 7405.5
203 1033.95
204 2958.95
205 2684.85
206 4179.2
207 79.9
208 1934.45
209 6654.1
210 84.5
211 25.25
212 1124.2
213 540.05
214 1975.85
215 3437.45
216 3139.8
217 3789.2
218 5324.5
219 624.6
220 268.35
221 1836.9
222 20.2
223 179.35
224 219.35
225 1288.75
226 2545.75
227 55.2
228 2723.15
229 4107.25
230 5760.65
231 4747.5
232 84.6
233 1566.9
234 702.0
235 114.1
236 299.05
237 1305.95
238 1120.3
239 284.35
240 6350.5
241 7878.3
242 3187.65
243 6126.15
244 731.3
245 273.4
246 2531.8
247 1074.3
248 48.55
249 4298.45
250 4619.55
251 147.15
252 40.2
253 2633.3
254 193.05
255 4103.9
256 7008.15
257 5791.1
258 80.55
259 1228.65
260 132.2
261 1364.3
262 4925.35
263 1520.1
264 5032.25
265 5526.75
266 1195.25
267 2007.25
268 1099.6
269 1732.95
270 1511.2
271 3450.15
272 24.8
273 2172.05
274 70.6
275 401.1
276 5624.85
277 1339.8
278 771.95
279 244.75
280 322.9
281 498.25
282 25.4
283 3687.75
284 1779.95
285 1783.6
286 927.15
287 70.0
288 606.55
289 435.4
290 1712.7
291 2021.2
292 1940.8
293 567.8
294 220.35
295 20.25
296 5436.45
297 3437.5
298 3015.75
299 73.6
300 1509.8
301 396.1
302 356.65
303 4109.0
304 3141.7
305 1229.1
306 2303.35
307 2054.4
308 3741.85
309 3682.45
310 19.25
311 1886.25
312 4895.1
313 341.6
314 415.55
315 5686.4
316 1355.1
317 3058.65
318 2231.05
319 3236.35
320 4350.1
321 4264.0
322 44.8
323 422.3
324 4176.7
325 5138.1
326 880.05
327 139.05
328 973.65
329 1470.05
330 739.35
331 161.95
332 4422.95
333 511.25
334 155.8
335 5293.95
336 4759.85
337 6148.45
338 3565.65
339 6603.0
340 1830.1
341 6223.8
342 4508.65
343 1328.15
344 865.0
345 72.1
346 168.2
347 1303.5
348 996.85
349 6430.9
350 2278.75
351 681.4
352 574.35
353 371.9
354 840.1
355 846.0
356 889.0
357 6823.4
358 805.1
359 4016.75
360 83.75
361 3959.15
362 2878.55
363 945.7
364 1373.05
365 492.55
366 1406.0
367 19.15
368 6962.85
369 8126.65
370 690.25
371 181.5
372 830.8
373 5608.4
374 3646.8
375 3662.25
376 25.35
377 2566.5
378 5308.7
379 1410.25
380 3339.05
381 50.65
382 4732.35
383 90.85
384 5067.45
385 214.75
386 4874.7
387 2348.45
388 4063.0
389 44.0
390 2595.25
391 2309.55
392 89.3
393 367.55
394 3944.5
395 5965.95
396 3694.7
397 2524.45
398 1803.7
399 415.1
400 624.15
401 237.7
402 7007.6
403 3848.8
404 419.4
405 1468.75
406 5812.0
407 2861.45
408 19.9
409 19.6
410 233.7
411 1066.15
412 2149.05
413 4473.0
414 3545.05
415 1195.75
416 6858.9
417 1024.7
418 1845.9
419 75.3
420 132.25
421 515.45
422 2830.45
423 1110.5
424 449.3
425 2838.55
426 5376.4
427 858.6
428 1395.05
429 3975.7
430 1182.55
431 4784.45
432 119.5
433 518.9
434 899.45
435 1183.8
436 720.05
437 8468.2
438 3161.2
439 55.05
440 1882.55
441 5070.4
442 6049.5
443 1166.7
444 2937.65
445 6396.45
446 69.55
447 1270.25
448 759.55
449 7611.55
450 1642.75
451 1545.4
452 3582.4
453 2227.1
454 1417.9
455 2494.65
456 2768.35
457 2369.3
458 38.0
459 75.1
460 100.9
461 1614.05
462 385.9
463 673.25
464 8404.9
465 2799.75
466 6538.45
467 6588.95
468 868.1
469 734.35
470 330.6
471 55.0
472 564.4
473 1315.35
474 74.7
475 1861.5
476 2747.2
477 554.05
478 453.4
479 994.8
480 225.75
481 2145.0
482 1671.6
483 8003.8
484 680.05
485 6130.85
486 1415.0
487 6201.95

ValueError: ignored

So the 488th row has the string value that's coercing variable to become string

In [58]:
x.iloc[488]['TotalCharges']

' '

In [59]:
x.replace(' ',0,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4389: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [60]:
for i in x['TotalCharges']:
  x['TotalCharges']= float(i)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [61]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def vif(x):
  vif = pd.DataFrame()
  vif["variables"] = x.columns
  vif["VIF"] = [variance_inflation_factor(x.values, i) for i in range(x.shape[1])]

  return(vif)

In [62]:
x.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'MonthlyCharges',
       'TotalCharges', 'pay__Bank transfer (automatic)',
       'pay__Credit card (automatic)', 'pay__Electronic check',
       'pay__Mailed check'],
      dtype='object')

In [63]:
vif(x[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'pay__Bank transfer (automatic)',
       'pay__Credit card (automatic)', 'pay__Electronic check','pay__Mailed check']])

                         variables       VIF
0                           gender  1.001509
1                    SeniorCitizen  1.152249
2                          Partner  1.461997
3                       Dependents  1.383544
4                           tenure  2.729148
5                     PhoneService  1.148409
6                    MultipleLines  1.416247
7                  InternetService  2.232338
8                   OnlineSecurity  1.287407
9                     OnlineBackup  1.344886
10                DeviceProtection  1.456482
11                     TechSupport  1.372853
12                     StreamingTV  1.624595
13                 StreamingMovies  1.631600
14                        Contract  2.442792
15                PaperlessBilling  1.207742
16  pay__Bank transfer (automatic)  5.054142
17    pay__Credit card (automatic)  4.944476
18           pay__Electronic check  6.957551
19               pay__Mailed check  4.248501

In [64]:
x =x[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'pay__Bank transfer (automatic)',
       'pay__Credit card (automatic)', 'pay__Electronic check',
       'pay__Mailed check']]

In [65]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(5282, 20)
(5282,)
(1761, 20)
(1761,)

In [66]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression()
logit.fit(x_train,y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [67]:
#Model accuracy on train data

pred_self = logit.predict(x_train)
pred_self

array([0, 1, 0, ..., 0, 1, 0])

In [68]:
pd.pivot_table(pd.DataFrame({'y_train':y_train,'pred_self':pred_self}),index=y_train,columns=pred_self,aggfunc='count')

      pred_self      y_train
              0    1       0    1
Churn
0          3531  380    3531  380
1           623  748     623  748

In [69]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_train,pred_self)

array([[3531,  380],
       [ 623,  748]])

In [70]:
print(f"accuracy : {(3533+722)/(3533+722+647+380)}")
print(f"recall : {722/(722+647)}")
print(f"precision : {722/(380+722)}")

accuracy : 0.8055660734570238
recall : 0.5273922571219869
precision : 0.6551724137931034

In [71]:
#model Accuracy on test Data
test_pred = logit.predict(x_test)

In [72]:
pd.pivot_table(pd.DataFrame({'y_test':y_test,'test_pred':test_pred}),index=y_test,columns=test_pred,aggfunc='count')

      test_pred      y_test
              0    1      0    1
Churn
0          1140  123   1140  123
1           243  255    243  255

In [73]:
print(f"accuracy : {(1135+272)/(1135+272+126+228)}")

accuracy : 0.7989778534923339

###Cross Validation

In [79]:
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score,average_precision_score

log_regression = LogisticRegression()
logitCV= LogisticRegressionCV(cv=5)
logitCV.fit(x_train,y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=5, dual=False,
                     fit_intercept=True, intercept_scaling=1.0, l1_ratios=None,
                     max_iter=100, multi_class='auto', n_jobs=None,
                     penalty='l2', random_state=None, refit=True, scoring=None,
                     solver='lbfgs', tol=0.0001, verbose=0)

In [80]:
accuracy_score(logitCV.predict(x_train),y_train)

0.8102991291177585