<a href="https://colab.research.google.com/github/Rahul711sharma/Classification/blob/main/Telco_Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd
import numpy as np
from plotnine import *
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
from google.colab import drive

In [64]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
df = pd.read_csv("/content/drive/MyDrive/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [66]:
df.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95       1889.5     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [67]:
df.isna().mean()*100

customerID          0.0
gender              0.0
SeniorCitizen       0.0
Partner             0.0
Dependents          0.0
tenure              0.0
PhoneService        0.0
MultipleLines       0.0
InternetService     0.0
OnlineSecurity      0.0
OnlineBackup        0.0
DeviceProtection    0.0
TechSupport         0.0
StreamingTV         0.0
StreamingMovies     0.0
Contract            0.0
PaperlessBilling    0.0
PaymentMethod       0.0
MonthlyCharges      0.0
TotalCharges        0.0
Churn               0.0
dtype: float64

In [68]:
for i in df.columns[1:]:
  print(f"{i}: \n{df[i].value_counts()} \n")

gender:
Male      3555
Female    3488
Name: gender, dtype: int64

SeniorCitizen:
0    5901
1    1142
Name: SeniorCitizen, dtype: int64

Partner:
No     3641
Yes    3402
Name: Partner, dtype: int64

Dependents:
No     4933
Yes    2110
Name: Dependents, dtype: int64

tenure:
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: tenure, Length: 73, dtype: int64

PhoneService:
Yes    6361
No      682
Name: PhoneService, dtype: int64

MultipleLines:
No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

InternetService:
Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

OnlineSecurity:
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64

OnlineBackup:
No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64

DeviceProtection:
No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64

TechSupport:
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64

StreamingTV:
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64

StreamingMovies:
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64

Contract:
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64

PaperlessBilling:
Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64

PaymentMethod:
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64

MonthlyCharges:
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
114.75     1
103.60     1
113.40     1
57.65      1
113.30     1
Name: MonthlyCharges, Length: 1585, dtype: int64

TotalCharges:
           11
20.2       11
19.75       9
19.9        8
19.65       8
           ..
273         1
99.95       1
272.35      1
3457.45     1
1810.85     1
Name: TotalCharges, Length: 6531, dtype: int64

Churn:
No     5174
Yes    1869
Name: Churn, dtype: int64

In [70]:
df=df.replace({'No internet service':'No','Yes':1,'No':0,'Month-to-month':0,'Two year':2,'One year':1,'No phone service':0,'Male':0,'Female':1,'DSL':1,'Fiber optic':2,'No':0})

In [71]:
dummies = pd.get_dummies(df['PaymentMethod'],prefix='pay_')
for i in dummies.columns:
  df[i]= dummies[i]
df.drop('PaymentMethod',axis=1,inplace=True)
df.head(3)

   customerID  gender  ...  pay__Electronic check  pay__Mailed check
0  7590-VHVEG       1  ...                      1                  0
1  5575-GNVDE       0  ...                      0                  1
2  3668-QPYBK       0  ...                      0                  1

[3 rows x 24 columns]

In [72]:
x = df.iloc[:,[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,21,22,23]]
y = df.iloc[:,19]

In [86]:
x['TotalCharges'] = [float(i) for i in df['TotalCharges']]

In [86]:
sns.heatmap(data=x,annot=True)

In [79]:
for i in df.columns:
  print(type(df[i][0]))

<class 'str'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'str'>
<class 'numpy.int64'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>
<class 'numpy.uint8'>

In [85]:
df.iloc[:,18]

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object